body 
{
  font-family: "Verdana","Arial","Helvetica","sans-serif";
  font-color: #444;
  font-weight: normal;
  background: #FF3D8B; 
}
h1
{ 
	color: #ccc;
	background-color:#000;
	font-size: 200%;
	position: relative;
    text-align: inherit;
}
h2 
{
    color: #3D8BFF;
	background-color:#000;
    font-size: 150%;
    position: relative;
    text-align: inherit; 
}
h3 
{
    color: #D60000;
	background-color:#000;
    font-size: 120%;
    position: relative;
}
p 
{
    color: #444;
    font-size: 90%; 
}
img {
  border-color: #bbb #ccc #ccc #ddd;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 20px 10px 10px;
  padding: 6px 7px 8px 6px; 
}

#main
{
	background: transparent url(/images/body.png) repeat-y; 
	display: block;
	width:720px;
	margin:20px auto 0;
	position:relative;
}

#header 
{
     background: transparent url(/doubleninja.png) no-repeat scroll 0 0;
     display: block;
     margin: 25px 20px;
     padding: 13px 0px 13px 0; 
}


#content
{
	margin: 30px auto;
	padding: 30px 0px 100px 0;
}


